html {
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;

}

body{
  background-color:#BAC2CE;
}

/*----------HEADER--------------*/

.main_menu>h1{
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.main_menu> h1 img{
  display: inline-block;
  width: 40vw;
}

/*----MENU-----*/

.main_menu{
  width: 100%;
  height: 3em;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: #45719E;
}

.main_menu>ul{
  display: inline-block;
  margin-bottom: 10px;
  /*position: relative;
  right: -70%;
  top: -37%;*/
  float: right;
  margin-right: 30px;
  margin-top: 10px;


}

.main_menu> ul>li{
  display: inline-block;
  list-style: none;
  margin-left: 15px;
  font-size: 1.2em;
}


.main_menu> ul+.hamb{
  display: none;
}

/*----HERO SECTION---*/

.hero{
  margin-top: 2.5em;
  height: 80vh;
  width: 100%;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
}


/*-------------AREA PRINCIPAL-------------*/

.container{
  width: 80%;
  margin: 10px 10%;
}

/*--------------PAGINA INCIAL------------*/


/*----Seção Projetos:---*/

.projeto{
  /*border: 3px solid #E4A87A;
  border-bottom: 7px solid #E4A87A;*/
  box-sizing: border-box;
  /*background-color: #F2C7A7;*/
  margin-top: 10px;
  padding: 5px;
  width: 1040px;
}

.projeto>h2{
  text-align: center;
  border-bottom: 2px solid;
}

.projeto>article{
  background-color:  #F2C7A7;
  margin: 20px 10px;
  border-bottom: 5px solid #E4A87A;
  width: 320px;
  display: inline-block;
  height: 270px;


}

.projeto>article>header {
  height: 10em;
  width: 100%;
  background-color: pink;

}

.projeto>article>.post1{
  background-image:  url(../img/post1.jpg);
  background-size: cover;
  background-position: center;
}

.info{
  text-align: left;
  padding: 5px;
}

.projeto>article>.info> .categ,
.projeto>article>.info> .nivel,
.projeto>article>.info> .views{
  font-size: 0.7em;
  border-radius: 8px;
  display: inline-block;
  height: 2em;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  background-color:#6A80B2;
  margin: 3px 1px 3px 1px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}


.projeto>article>.go{
  display: inline-block;
  width: 98%;
  height: 2em;
  box-sizing: border-box;
  padding: 5px 0;
  text-align: center;
  background-color: #F44738;
  margin: 3px 1px 3px 1px;
  border-radius: 6px;
  border-right: 3px #E02634 solid;
  border-bottom: 3px #E02634 solid;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/*------ seção: Artigos----*/
.artigo{
  background-color: pink;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  display: inline-block;
}

.artigo>article{

  margin: 5px 0;
  border-bottom: 1px solid black;
}

.artigo>article>header{
  height: 14em;
  background-color: rgba(255, 0, 0, 0.5);
}
.artigo>article>h2{
  border-bottom: 2px solid black;
  text-align: right;

}

.artigo> article>h3,
.artigo>article> time{
  display: inline-block;
  width: 48%;
  border-right: 2px solid black;
}

/*------Seção:Materias----*/

.materias{
  background-color: salmon;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.materias>h2{
  margin-bottom: 20px;
  text-align: left;

}

.materias>a{
  display: inline-block;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background-color: orange;
  text-align: center;
  padding: 2em 0;
  box-sizing: border-box;
  margin: 0.5em;
}

/*------PAGINA DE LOGIN ------*/

/*----PAGINAD E LOGIN-----*/

.logfield{
  width: 400px;
  margin: 5em 35%;
  text-align: center;
}

.logbt{
  display: block;
  width: 100%;
  background-color: grey;
  margin-bottom: 7px;
  text-align: left;
  height: 2em;
  box-sizing: border-box;
  padding-top: 0.5em;
}

.logbt i{
  margin-right: 38%;
  margin-left: 2%;
}

.logfield>fieldset>h2{
  margin: 1em 0;
  border-bottom: 2px black solid;
}

.logfield>fieldset> input[type="text"],
.logfield>fieldset> input[type="password"]{
  display: block;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 20px;
  height: 3em;
}

.logfield> fieldset> input[type="button"]{
  display: inline-block;
  width: 80%;
  height: 3em;
  margin-bottom: 1em;
}

.logfield> fieldset> input[type="button"]+p{
  margin-bottom: 1em;
}

.logfield> fieldset> em{
  font-size: 90%;
}


footer{
  margin-top: 20px;
  height: 10em;
  background-color: red;
  width: 100%;
}
